<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
    <servlet>
        <servlet-name>sLogin</servlet-name>
        <servlet-class>servlet.sLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sAddUser</servlet-name>
        <servlet-class>servlet.sAddUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewServlet</servlet-name>
        <servlet-class>servlet.NewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sDeposit</servlet-name>
        <servlet-class>servlet.sDeposit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>pdfMini</servlet-name>
        <servlet-class>servlet.pdfMini</servlet-class>
    </servlet>
    <servlet><servlet-name>pdfItemized</servlet-name><servlet-class>servlet.pdfItemized</servlet-class></servlet><servlet><servlet-name>sUserRights</servlet-name><servlet-class>servlet.sUserRights</servlet-class></servlet>
    <servlet>
        <servlet-name>sUpdatePWD</servlet-name>
        <servlet-class>servlet.sUpdatePWD</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>mystore</servlet-name>
        <servlet-class>servlet.mystore</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>sLogin</servlet-name>
        <url-pattern>/sLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sAddUser</servlet-name>
        <url-pattern>/sAddUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewServlet</servlet-name>
        <url-pattern>/NewServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sDeposit</servlet-name>
        <url-pattern>/sDeposit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>pdfMini</servlet-name>
        <url-pattern>/pdfMini</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>pdfItemized</servlet-name>
        <url-pattern>/pdfItemized</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sUserRights</servlet-name>
        <url-pattern>/sUserRights</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sUpdatePWD</servlet-name>
        <url-pattern>/sUpdatePWD</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>mystore</servlet-name>
        <url-pattern>/mystore</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
          30
        </session-timeout>
    </session-config>
    <welcome-file-list>
	<welcome-file>
            login.jsp
        </welcome-file>
    </welcome-file-list>
</web-app>
